body{
    background-color:white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: grey;
    height: 58vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;

    
}

.mando{
    background-color: black;
    width: 65vw;
    height: 25vw;
    display: flex;
    /* border-radius: 15px 15px 15px 15px; */
    
    

}

.mando-izq{
    
    background-color: rgb(255, 127, 138);
    width: 21.6vw;

}

.mando-cen{
    background-color: rgb(56, 56, 58);
    width: 21.6vw;
    display: inline;
   
    
    
}

.mando-der{
    background-color: rgb(56, 56, 58);
    width: 21.6vw
}

.size{
    width: 65vw;
    height: 25vw;
}

.mando-der-sup{
    color: red;
    width: 22vw;
    height:12.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.redimension{
    max-width: 60%;
    max-height: 40%;
    margin-top: 50px;
}

.mando-der-inf{
background-color:rgb(26, 236, 180);
height: 12.5vw;
width: 21.6;
display: flex;
align-items: center;
justify-content: center;

    }


.button{
    background-color: grey;
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px ;
    border-radius: 10px;
    
}

.circle-button{
    background-color: red;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}

#letters{

color: red;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;


 }

#linea-1{
    background-color: cadetblue;
    height: 45px;
    margin-bottom: 15px;
    
}

#linea-2{
    background-color: brown;
    height: 40px;
    margin-bottom: 15px;

}
#linea-3{
    background-color: coral;
    height: 40px;
    margin-bottom: 13px;
}

#linea-4{
    background-color: darkgoldenrod;
    height: 95px;
    margin-bottom: 13px;
}

#linea-5{
    background-color: bisque;
    height: 35px;
    margin-top: 22px;
    
}

#direcciones{
    background-color: brown;
    width: 200px;
    height: 200px;
}