body{
    background-color:white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: rgb(198, 197, 197);
    height: 58vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;


}

.mando{
    background-color: black;
    width: 65vw;
    height: 25vw;
    display: flex;
    /* border-radius: 15px 15px 15px 15px; */



}

.mando-izq{

    background-color: rgb(56, 56, 58);
    width: 21.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
   

}

#direcciones{
    background-color: black;
    width: 180px;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}



#flechas2{
    background-color: blueviolet;
}



#flechas4{
    background-color: rgb(20, 113, 190);
}

#flechas5{
    background-color: rgb(106, 0, 135);
}

#flechas6{
    background-color: rgb(8, 8, 8);
}


#flechas8{
    background-color: rgb(42, 165, 155);
}



.vacio{
    background-color:rgb(56, 56, 58) ;
}






.mando-cen{
    background-color: rgb(56, 56, 58);
    width: 21.6vw;
    display: inline;



}

.mando-der{
    background-color: rgb(56, 56, 58);
    width: 21.6vw
}

.size{
    width: 65vw;
    height: 25vw;
}

.mando-der-sup{
    color: red;
    width: 22vw;
    height:12.5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.redimension{
    max-width: 60%;
    max-height: 40%;
    margin-top: 50px;
}

.mando-der-inf{
background-color: rgb(56, 56, 58);
height: 12.5vw;
width: 21.6;
display: flex;
align-items: center;
justify-content: center;

    }


.button{
    background-color:rgb(198, 197, 197);
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px ;
    border-radius: 10px;


}

.circle-button{
    background-color: red;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}

#letters{

color: red;
font-size: 30px;



 }

#linea-1{
    background-color:rgb(198, 197, 197);
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px 0px 10px 10px;

}

#linea-2{
    background-color:rgb(198, 197, 197);
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;

}
#linea-3{
    background-color:rgb(198, 197, 197);
    height: 40px;
    margin-bottom: 13px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content:space-between;
    align-items: center;
    color: red;

    
}

#linea-4{
    background-color:rgb(198, 197, 197);
    height: 95px;
    margin-bottom: 13px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linea-5{
    background-color:rgb(198, 197, 197);
    height: 35px;
    margin-top: 22px;
    border-radius:10px 10px 0px 0px;

}



.select{
    font-size: 25px;
    margin: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.marco{
   background-color: rgb(198, 197, 197);
   width: 250px;
   height: 70px;
   border-radius: 10px;
   border-left: 90px;
   border-width: 2px;
   border-style:solid;
   border-color: rgb(156, 152, 152);
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;

}

.marco-botton{
    background-color: rgb(56, 56, 58);
    width: 80px;
    height: 30px;
    border-radius: 20px;
}

